script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')

script(src='/javascripts/underscore.js')
script(src='/javascripts/angular.js')
script(src='/javascripts/angular-route.js')
script(src='/javascripts/angular-resource.js')
script(src='/javascripts/angular-animate.js')

script(src='/javascripts/app/metroTrains/config/app.js')
script(src='/javascripts/app/metroTrains/services/resources.js')
script(src='/javascripts/app/metroTrains/controllers/mainController.js')
script(src='/javascripts/app/metroTrains/controllers/stationController.js')
script(src='/javascripts/app/metroTrains/controllers/lineController.js')
script(src='/javascripts/app/metroTrains/controllers/trainsController.js')
script(src='/javascripts/app/metroTrains/controllers/trainSummaryController.js')


script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALwTs0jfrgdPVmWYz-YJzGcE5zz2hzDv0&sensor=FALSE&libraries=places")

script(src="http://localhost:35900/livereload.js")