.alert.alert-info(ng-hide="stations || loadError")
  h4.alert-heading Loading Stations
  p Just wait a second

.alert.alert-danger(ng-show="loadError")
  h4 Error loading data
  p The API is down

ul.list-unstyled.animate-list
  li(ng-repeat='station in stations | filter:search.text', ng-animate="'animate'")
    h4
      a(ng-href="#/stations/{{station.line}}"){{station.line}}&nbsp;
      | {{station.name_en}}, {{station.name_ko}}
    p: a(ng-href="{{station._links[0].url}}", target="_blank") View station
    //- p {{station}}