h1 Stations
p: a(href="#/") Back

.alert.alert-info(ng-hide="stations || loadError")
  h4.alert-heading Loading Stations
  p Just wait a second

.alert.alert-danger(ng-show="loadError")
  h4 Error loading data
  p The API is down

.content(ng-show="stations")
  .row
    .col-xs-8.form-group
      input.form-control(type="text", placeholder="Filter results", ng-model="search.$")
    .col-xs-4.form-group
      select.form-control(ng-options="o as o for o in lines", ng-model="search.line", ng-change="changeLine()")
        option(value="") Choose line

  ul.list-unstyled
    li(ng-repeat='station in stations | filter:search')
      h4
        a(ng-href="#/stations/{{station.line}}"){{station.line}}&nbsp;
        | {{station.name_en}}, {{station.name_ko}}
      p: a(ng-href="{{station._links[0].url}}", target="_blank") View station
      p {{station}}