h1 Line {{lineName}}&nbsp;
  small: a(href="#/stations") Back to stations
//- p {{stations}}

.alert.alert-info(ng-hide="stations")
  h4.alert-heading Loading Stations
  p Just wait a second

.content(ng-show="stations")
  .form-group
    input.form-control(type="text", placeholder="Filter results", ng-model="filterResults")

  ul.list-unstyled
    li(ng-repeat='station in stations | filter:filterResults')
      h4 {{station.line}} {{station.name_en}}, {{station.name_ko}}

      //- p {{station}}