@import "bootstrap/bootstrap.less";

/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.reveal-animation.ng-enter {
 -webkit-transition: .5s linear all; /* Safari/Chrome */
 transition: .5s linear all; /* All other modern browsers and IE10+ */

 /* The animation preparation code */
 opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.reveal-animation.ng-enter.ng-enter-active {
 /* The animation code itself */
 opacity: 1;
}

.container {
  position:relative;
  z-index:1;
  background:rgba(255,255,255,.9);

}

#map-canvas {
  position:fixed !important;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
